<section>
  <ul>
    <li>Partilhar no Facebook</li>
    <li>Partilhar no X</li>
    <li>Partilhar no Threads</li>
    <li>Partilhar no WhatsApp</li>
    <li>Partilhar no Telegram</li>
    <li>Partilhar no LinkedIn</li>
    <li>Copiar hiperligação</li>
  </ul>
</section>
